.reminders-view {	/* The whole 'reminders' frame within the accordion widget */
	position: relative;
	top: 2.5rem;
	left:  9vw;
	width: fit-content;
	height: 50vw;
}
/* This frame has two sub-views */
.accordion-sub-view {
	position: relative; /* we want sub-views layed out horizontally */
	display: inline-block; /* So we make them in-line block and position them relatively */
	vertical-align: top; /* Needed for inline-blick to be propperly aligned to the top */
	width: 26vw;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.accordion-sub-view {
		width: 22vw;
	}
	.reminders-view {
		height: 42.5vw;
	}
}
@media screen and (min-width: 1081px) and (max-width: 1280px) {
	.reminders-view {
		height: 60vw;
		left: 9em;
	}
	.accordion-sub-view {
		width: 30vw;
	}
}
@media screen and (min-width: 787px) and (max-width: 1080px) {
	.accordion-sub-view {
		display:  block;
		width: 18em;
  	height: fit-content;
		max-height: 48%;
	}
	.reminders-view  {
		left: 7.5em;
		height: 66.5rem;
	}
}
@media screen and (max-width: 786px) {
	.accordion-sub-view {
		display:  block;
		height: fit-content;
		max-height: 48%;
		width: 18em;
	}
	.reminders-view {
		left: 0;
		top: 6rem;
		height: 65rem;
		/* Center accordion sub-view */
		margin-left: auto;
		margin-right: auto;
	}
}
