#reminders-header {
	margin: 1rem 0 0 1rem;
	font-weight: bold;
}
div {
	margin-bottom: 4px;
	margin-right: 0.5em;
	background-color: rgba(220,220,220, 0.5);
	color: darkred;
}
div:hover {
	background-color: rgba(255, 250, 240, 0.5);
}
p {
	margin: 0 0.5rem 0 1rem;
	font-family: "Arial Narrow", Arial, sans-serif;
}
.text {
	font-size: 1.2rem;
}
.small {
	font-size: 0.8rem;
}