<form [formGroup]="addReminderForm" (ngSubmit)="onSubmit(addReminderForm.value)" (keyup)="onKey($event)" novalidate>
	<label for="text" >Text
		<br />
		<input type="text" id="text" [formControl]="addReminderForm.controls['text']" (blur)="onBlur($event)" autofocus />
		<div class="error" *ngIf="addReminderForm.controls['text'].hasError('required') && addReminderForm.controls['text'].touched">You must enter reminder text</div>
		<div class="error" *ngIf="addReminderForm.controls['text'].hasError('maxlength') && addReminderForm.controls['text'].touched">At most 20 characters</div>
	</label>
	<label for="date">Date
		<br />
		<input type="date" id="date" [formControl]="addReminderForm.controls['date']" (blur)="onBlur($event)" />
		<div class="error" *ngIf="addReminderForm.controls['date'].hasError('required') && addReminderForm.controls['date'].touched">You must enter a date</div>
	</label>
	<button type="submit" [disabled]="!addReminderForm.valid" >Add This Reminder</button>
</form>
<button (click)="cancel()">Cancel</button>
