<div class="wrapper">
	<img class="tile-image" src="/assets/images/tile-image.png" alt="tile image" />
	<div class="header">
		<img class="mileage-icon" src="/assets/images/application-icon.png" alt="application icon" />
		<img class="mileage-title" src="/assets/images/application-title.png" alt="application title" />
	</div>
	<div class="splash-screen">
		<div class="title-bar">
			<img class="title-glass" src="assets/images/title-glass.png" />
		</div>
		<img class="tagline" src="/assets/images/application-tagline.jpg" alt="application tagline" />
		<div class="auth">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
