.wrapper {
	position:  relative;
	height: 59vw;
	overflow: hidden;
}
.slider-car {
	position: absolute;
	width: 100%;
	left: 0;					/* Car slider to the far left */
	background-color: lightgray;
	background-image: url("/assets/images/details-pane.jpg");
	background-size: 100%;
	transition: left 0.7s, top 0.7s;
}
.slider-fill-ups {			
	position: absolute;
	width: 100%;
	left:  58vw;	/* Right position for fill ups means 6vw from the right edge */
	background-color: lightgray;
	background-image: url("/assets/images/fillups-pane.jpg");
	background-size: 100%;
	transition: left 0.7s, top 0.7s;
}
.slider-reminders {
	position: absolute;
	width: 100%;
	left: 61vw;	/* Right position for fill ups means 3vw from the right edge */
	background-color: lightgray;
	background-image: url("/assets/images/reminders-pane.jpg");
	background-size: 100%;
	transition: left 0.7s, top 0.7s;
}
.tab {
	width: 3vw;
	min-width: 2em;
	height: 59vw;
}
@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.wrapper {
		height: 48vw;
	}
	.tab {
		height: 48vw;
		width: 2.5vw;
	}
	.slider-fill-ups {
		left:  50vw;
	}
	.slider-reminders {
		left:  52.5vw;
	}
}
@media screen and (min-width:1081px) and (max-width: 1280px) {
	.wrapper {
		height: 59vw;
	}
	.tab {
		width: 3.5vw;
		height: 59vw;
	}
	.slider-fill-ups {
		left: 69.3vw;
	}
	.slider-reminders {
		left: 72.8vw;
	}
}
@media screen and (max-width: 1080px) {
	.slider-car {
		background-size: 685px;
	}
	.slider-fill-ups {
		background-size: 685px;
	}
	.slider-reminders {
		background-size: 685px;
	}
}
@media screen and (min-width: 787px) and (max-width: 1080px) {
	.wrapper {
		width: 27em;
		height: 66.5rem;
	}
	.tab {
		height: 66.5rem;
	}
	.slider-fill-ups {
		left:  23em;
	}
	.slider-reminders {
		left:  25em;
	}
}
@media screen and (max-width: 786px) {
	.wrapper {
		width: 27em;
		height: 71rem;
		/* Center accordion widget */
		margin-left: auto;
		margin-right: auto;
	}
	.tab {
		width: 100%;
		height: 2rem;
	}
	.slider-car {
		height: 67rem;
	}
	.slider-fill-ups {
		left: 0;
		top: 67rem;
		height: 67rem;
	}
	.slider-reminders {
		left: 0;
		top: 69rem;
		height: 67rem;
	}
}