div {
	border: 1px solid black;
}

.wrapper {
	position:  relative;	 /* We will want to absolutely position sliders */
	width: 960px;
	height: 41em;
	overflow: hidden; /* The sliders must not be visible when in right position */ 
}
.slider-car {
	position: absolute;
	width: 900px;
	left: 0;					/* Car slider to the far left */
	background-color: lightyellow;
}
.slider-fill-ups {			
	position: absolute;
	width: 900px;
	left:  900px;	/* Right position for fill ups means 30px from the right edge */
	background-color: lightseagreen;
	transition: left 0.7s;
}
.slider-reminders {
	position: absolute;
	width: 900px;
	left: 930px; /* Right position for reminders means 60px from the right edge */
	background-color: lightskyblue;
	transition: left 0.7s;
}
.tab {
	position: static;
	width: 30px;
	height: 40em;
}