div {
	border: 1px solid black;
}

.carCard {
	display:  inline-block;
	width: 17.2vw;
	min-width: 13.75em;
	margin: 0.3em;	/* all the margins to 0.3em */
	background-color: lightgrey;
}

.header {
	height: 3vw;
	min-height: 2.9em;
}

.vehicle {
	background-color: darkgray;
	height: 9vw;
	min-height: 6.9em;
}

button {
	display: block;
	width: 100%;
	height: 31%;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
	border-width: 0;
	background-color: darkgreen;
}

.avatar {
	display: inline-block;
	width: 48%;
	height: 100%;
	background-color: blue;
}

nav {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	height: 100%;
}

.miles-per-gallon {
	display: inline-block;
	vertical-align: top;	/*  Needed for proper top-alignment of an inline-block */
	width: 48%;
}
.right-pane {
	display: inline-block;
	width: 48%;
}

.selected {
	border: 2px solid red;
}

p {
	line-height: 0.4;
}

@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.carCard {
		width: 14.6vw;
	}
	.header {
		height: 2.55vw;
	}
	.vehicle {
		height: 7.65vw;
	}
}