<div class='carCard' [class.selected]="selectedCarId===car.id.toString()" (click)='switchToDetails()' >
 	<div class='header'>
 		<p>{{car.model}}</p>
 		<p>{{car.name}}</p>
 	</div>
 	<div class='vehicle'>
 		<img class='avatar' alt='car avatar' src='http://localhost:3000/api/cars/{{car.id}}/image{{utilitiesService.avatarURLFragment}}'/>
 		<nav>
 			<button (click)='buttonDetails($event)'>Details</button>
 			<button (click)="buttonFillUps($event)">Fill ups</button>
 			<button (click)="buttonReminders($event)">Reminders</button>
 		</nav>
 	</div>
 	<div class='statistics' *ngIf="selectedCarId===car.id.toString() || showStatisticsDefault">
 	<div class='miles-per-gallon'>
 		<p>{{milesPerGallon}}</p>
 			<p>mpg</p>
 		</div>
 		<div class='right-pane'>
 	 		<p>{{costPerMile}}</p>
 			<p>cost per mile</p>
 			<div class='dollars-per-month'>
 				<p>{{costPerMonth}}</p>
 				<p>dollars per month</p>
 			</div>
 		</div>
 	</div>
</div>
