label,
button {
	display: block;
}
span {
	color:  red;
}
.add-car-view {
	width: 53vw;
	height: 49vw;
	min-width: 30em;	/* So that it never becomes too small */
	min-height: 27.5em;
	background-color: wheat;
}
@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.add-car-view{
		width: 45vw;
		height: 41.6vw;
	}
}