label,
button {
	display: block;
}
span {
	color:  red;
}
.add-car-view {
	width: 53vw;
	height: 49vw;
	min-width: 30em;	/* So that it never becomes too small */
	min-height: 27.5em;
	background-color: wheat;
}
.file-upload {	/* Customize image upload button */
	position: relative;	
	overflow: hidden;

	display: flex;	/* Span text must be centered*/
  justify-content: center;
  align-items: center;

	width: 7.6vw;	/* 'Button' style */
	min-width: 6.1em;
	height: 2.6vw;
	min-height: 2em;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
	background-color: darkgreen;
}

input[type='file'] {	/* This will be clickable*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;	/* but invisible*/
  cursor: pointer;

	width: 7.6vw;
	min-width: 6.1em;
	height: 2.6vw;
	min-height: 2em;
}

#uploadedImage {
	width: 90%;
}

@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.add-car-view{
		width: 45vw;
		height: 41.6vw;
	}
}