<form [formGroup]="addFillUpForm" (ngSubmit)="onSubmit(addFillUpForm.value)" >
	<label for="quantity" >Quantity
		<br />
		<input type="number" id="quantity" [formControl]="addFillUpForm.controls['quantity']" autofocus />
		<div class="error" *ngIf="addFillUpForm.controls['quantity'].hasError('required') && addFillUpForm.controls['quantity'].touched">You must provide fuel quantity</div>
	</label>
	<label for="price">Price per gallon
		<br />
		<input id="price" [formControl]="addFillUpForm.controls['price']" />
		<div class="error" *ngIf="addFillUpForm.controls['price'].hasError('required') && addFillUpForm.controls['price'].touched">You must provide fuel price</div>
		<div class="error" *ngIf="addFillUpForm.controls['price'].hasError('pattern') && addFillUpForm.controls['price'].touched">Not a valid number</div>
	</label>
	<label for="odometer">Odometer
		<br />
		<input type="number" id="odometer" [formControl]="addFillUpForm.controls['odometer']" />
		<div class="error" *ngIf="addFillUpForm.controls['odometer'].hasError('required') && addFillUpForm.controls['odometer'].touched">You must provide odometer value</div>
	</label>
	<label for="station">Station
		<br />
		<input id="station" [formControl]="addFillUpForm.controls['station']" />
		<div class="error" *ngIf="addFillUpForm.controls['station'].hasError('maxlength') && addFillUpForm.controls['station'].touched">At most 20 characters</div>
	</label>
	<label for="date">Date
		<br />
		<input type="date" id="date" [formControl]="addFillUpForm.controls['date']" />
		<div class="error" *ngIf="addFillUpForm.controls['date'].hasError('required') && addFillUpForm.controls['date'].touched">You must enter date</div>
	</label>
	<button type="submit" [disabled]="!addFillUpForm.valid" >Add This Fill Up</button>
</form>
