.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightgrey;
	background-image: url("/assets/images/application-top.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.main-menu {
	cursor: pointer;
}

@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.master-frame {
		width: 85vw;
		margin: auto;
		border-left: 2px solid red;
		border-right: 2px solid red;
	}
}
@media screen and (max-width: 480px) {
	.master-frame {
		font-size: 12px;
	}
}
