<div class='carCard'>
 	<div class='header'>
 		<p>{{car.model}}</p>
 		<p>{{car.name}}</p>
 	</div>
 	<div class='vehicle'>
 		<div class='avatar'></div>
 		<nav>
 			<button>Details</button>
 			<button>Fill ups</button>
 			<button>Reminders</button>
 		</nav>
 	</div>
 	<div class='statistics'>
 	<div class='miles-per-gallon'>
 		<p>{{milesPerGallon}}</p>
 			<p>mpg</p>
 		</div>
 		<div class='right-pane'>
 	 		<p>{{costPerMile}}</p>
 			<p>cost per mile</p>
 			<div class='dollars-per-month'>
 				<p>{{costPerMonth}}</p>
 				<p>dollars per month</p>
 			</div>
 		</div>
 	</div>
</div>
