<div class="wrapper">
	<img class="auth-image" src="/assets/images/application-openid.png" alt="authentication" />
	<span class="title-text">Sign In / Register</span>
	<p>This application doesn't have a fully fledged back-end. Your only identification is your username.</p>
	<input class="username" type="text" (input)="onInputChange($event)" [formControl]="nameCtrl" (keyup)="onKey($event)" />
	<button class="green-button" (click)="onSignIn()" [disabled]="!nameCtrl.valid">
		<img class="button-image" src="/assets/images/signin-text.png" />
		<img class="button-image" src="/assets/images/command-glass.png" />
	</button>
	<button class="blue-button" routerLink="/landing/signUp">
		<img class="button-image" src="/assets/images/register-text.png" />
		<img class="button-image" src="/assets/images/command-glass.png" />
	</button>
	<div *ngIf="showError" class="error">username doesn't exist</div>
	<div class="error" *ngIf="nameCtrl.hasError('maxlength') && nameCtrl.touched">User name can be at most twenty characters long</div>
</div>
