.wrapper {
	display: inline-flex;	/* So that we can easily vertically center the button */
	vertical-align: top;		/* Needed to properly align inline-flex to the top */
	align-items: center;		/* horizontally center the button */
	width: 17.2vw;
	min-width: 13.75em;
	height: 20vw;
	min-height: 16em; 
	margin: 0.3em;	/* all the margins to 0.3em */
}
.add-car-button {
	width: 100%;
	text-align: center;	/* vertically center the button */
}
@media screen and (min-width: 1280px) and (min-aspect-ratio: 15/9) and (orientation: landscape) {
	.wrapper{
		width: 14.6vw;
		height: 17vw;
	}
}
