.list {
	margin-top: 3vw;
}
button {
	position: relative;
	width: 5rem;
	height: 1.9rem;
	border-width: 0;
	background-color: darkgreen;
	background-image: url("/assets/images/command-background.jpg");
	background-size: 100% 100%;
	cursor: pointer;
}
button:hover {
	background-image: url("/assets/images/command-hover.jpg");
}
.button-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.buttons {
	display: flex;
	justify-content: space-around;
}
