div { /* The whole edit car frame within the accordion widget */
	position: absolute;
	left: 2.5rem;
	right:  90px;
	
	1width: 50em;
	height: 40rem;

	border: 1px solid black;
}
.file-upload {	/* Customize image upload button */
	position: relative;	
	overflow: hidden;

	display: flex;	/* Span text must be centered*/
  justify-content: center;
  align-items: center;

	width: 7.6vw;	/* 'Button' style */
	min-width: 6.1em;
	height: 2.6vw;
	min-height: 2em;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
	background-color: darkgreen;
}

input[type='file'] {	/* This will be clickable*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;	/* but invisible*/
  cursor: pointer;

	width: 7.6vw;
	min-width: 6.1em;
	height: 2.6vw;
	min-height: 2em;
}

#uploadedImage {
	width: 90%;
}

@media screen and (max-width: 786px) {
	div {
		width: 18rem;
		top: 2rem;
		left: 0;
		margin-left: auto;
		margin-right: auto;
	}
}